.monofont {
    font-family: monospace;
}

.dalogHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}

.heroContainerContent {
    position: sticky;
    height: 100lvh;
    width: 100%;
    top: 0;
    transition: all 1s;
}

.heroHidden {
    opacity: 0;
}

@media (max-aspect-ratio: 16/9) {
    .heroBackgroundImage img {
        height: 100%;
        width: auto !important;
    }
}

canvas {
    overscroll-behavior: contain;
}

@media (min-aspect-ratio: 4/3) {
    .heroBackgroundImage img {
        height: auto;
        width: auto;
        min-width: 100%;
    }
}

@supports not (-webkit-appearance: none) {
    .heroBackgroundImage {
        animation: none;
    }
}

.heroBackgroundImage img {
    width: 100%;
    max-width: unset;
}

.heroBackgroundImage.visible {
    opacity: 1;
}

.heroBackgroundImage {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation: imageSlide 10s infinite alternate ease-in-out;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120vw;
    will-change: transform;
    transition: all 4s;
    filter: url(#pixelate2);
}

.imageNight {
    opacity: 0;
}


.heroContainerImage2.opaque {
    opacity: 1;
}


@keyframes imageSlide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(20vw);
    }
}