.title-h1 {
    font-size: var(--font-size-h1-huge);
    line-height: var(--font-size-h1-huge);
    font-weight: 400;
    letter-spacing: 0rem;
    color: var(--secondary-color);
    font-weight: 600;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 0;
    box-sizing: border-box;
    filter: url(#pixelate);
    animation: removePixelate 0s linear 1s;
    margin-top: 32px;
}

@media screen and (max-width: 1200px) {
    .title-h1 {
        font-size: var(--font-size-h1-big);
        line-height: var(--font-size-h1-big);
    }
}

@media screen and (max-width: 400px) {
    .title-h1 {
        font-size: var(--font-size-h1);
        line-height: var(--font-size-h1);
    }

    .secondTitle {
        font-size: var(--font-size-h3);
        line-height: var(--font-size-h3);
    }
}